

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ffffff;
    color: #333;
}

header {
    background-color: hwb(211 29% 20%);
    border-bottom: 1px solid #0056b3;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
}

.header-container {
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.header-container > div {
    display: flex;
    align-items: center;
}

.logo {
    max-height: 50px;
}

#company-name {
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 10px;
    color: #FFFFFF;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;
}

nav ul li a:hover {
    color: #00ff00;
}

input[type="search"] {
    padding: 5px;
    border: 1px solid #0056b3;
    border-radius: 3px;
    margin-left: 20px;
}

input[type="search"]:focus {
    border-color: #ff0000;
}

main {
    background-color: #ffffff;
    margin: 20px auto;
    padding: 20px;


}

 h1 ,h3 {
    text-align: center; 
    color: #0d6ddb;
    margin-bottom: 15px;
}

h2 {  
    color: #c43a3a;
    margin-bottom: 15px;
}

.content-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

section {
    background-color: #a6c6db;
    padding: 10px;
    border: 1px solid #DDDDDD;
    flex: 1;
    text-align: center;
}

.content-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 5px;
    border-radius: 5px;
}



button {
    background-color: #28A745;
    color: #FFFFFF;
    border: none;
    padding: 10px 10px;
    cursor: pointer;
}

button:hover {
    background-color: #f90000;
}

.products { 
    background-color:#f1f4f7;
    text-align: center;
    color: #1364b5;
}

footer {
    background-color: hwb(211 39% 15%);
    padding: 10px 10px;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: #FFFFFF;
    margin: 0 10px;
    font-weight: bold;
}


