
header {
    background-color: #FFFFFF;
    border-bottom: 1px solid #DDDDDD;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    max-height: 50px;
}

#company-name {
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 10px;
    color: #007BFF; 
}

nav {
    display: flex;
    align-items: center;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links li a {
    text-decoration: none;
    color: #343A40; 
    font-weight: bold;
    transition: color 0.3s;
}

.nav-links li a:hover {
    color: #007BFF; 
}

input[type="search"] {
    padding: 5px;
    border: 1px solid #DDDDDD;
    border-radius: 3px;
    margin-left: 20px;
}

main {
    max-width: auto;
    background-color: #FFFFFF;
    border-radius: 5px;
}


#products-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

 caption {
    font-weight: bold;
    margin-bottom: 10px;
}

th,  td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #DDDDDD;
    text-align: center;
}

 th {
    background-color:hwb(211 29% 20%);
    color: #FFFFFF;
}


form {
    max-width: 50%;
    margin: 20px auto;
    padding: 30px;
    background-color: #F9F9F9;
    border: 1px solid #DDDDDD;
    border-radius: 5px;
}

form label {
    font-weight: bold;
}

form input[type="text"], form input[type="number"] {
    width: 100%;
    padding: 8px;
    margin: 5px 0 15px 0;
    border: 1px solid #DDDDDD;
    border-radius: 3px;
}

form input[type="submit"] {
    background-color: #28A745; 
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

footer {
    background-color:hwb(211 29% 20%);
    border-top: 1px solid #DDDDDD;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    text-align: center;
    margin-top: 20px;
}

.footer-links {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.footer-links li {
    margin: 0 10px;
}

.footer-links li a {
    text-decoration: none;
    color: #343A40; 
    font-weight: bold;
}

.footer-links li a:hover {
    color: #007BFF; 
}
